.logo-header{
    width:50px;
}

.vignette{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border:solid grey 1px;
    max-width:500px;
    padding:10px;
    margin:10px;
}

.displayvignette{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.logo-vignette{
    max-width:80px;
}

.corpsite{
    text-decoration: none;
    font-family: Verdana;
}

.title{
    position: center;
    font-family: Verdana;
}

.formulaire-de-connexion{
    font-family: Verdana;
    width:500px;
    text-align:center;
    border:solid 1px grey;
    box-shadow:10px 5px 5px grey;
    margin:auto;
}

.page-connex{
    display:flex;
}
.seconnecter{
    background: #CECECE;
    margin:10px;
    border:grey;
    color:white;
    box-shadow:1px 1px 1px grey;
    height:25px;
    width:100px;
}

.form-control{
    background-color:#CECECE !important;
}

.lirelasuite{
    width:100px;
    margin-left: auto;
    margin-right:20px;
}

.container-nav{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

#navbarSupportedContent{
    display:flex;
    justify-content: space-around;
}